@extend("layout.html")

@define("content")
<h1>
    Hello, traveller! Welcome to my blog!
</h1>

@for (post in Posts)
<div>
    <h2>{{ post.Title }}</h2>
    <ul>
    @for (comment in post.Comments with i)
        <li>comment {{ i }}: {{ comment }}</li>
    @endfor
    </ul>
    <ol>
    @for (meta in Metas with i)
        <li style="color: {{ i > 0 ? "red" : "green" }}">{{ meta }} {{ currentDate }} </li>
    @endfor
    </ol>
</div>
@endfor

@if (page > 1 && page <= 10)
    <a href="/?page=1">Go to the first page (last updated at {{ currentDate }})</a>
@elif (page > 10)
    <span>Long journey mate</span>
@else
    <span>You on the first page</span>
@endif

@if (env == "dev")
    <p>Development mode</p>
@elif (env == "test")
    <p>Testing mode</p>
@else
    <p>Production mode</p>
@endif

@enddefine